@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom tooltip style */
div.react-tooltip {
    border-radius: 1rem;
    font-size: 12px;
    padding: 4px 10px;
    line-height: 1rem;
    padding-bottom: 6px;
}